

* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;

}
h1{
    background-color: #b1a7ea;
    text-align: center;
    font-weight: 500;
    padding: 20px;
}
nav{
    text-align: center;
    text-decoration: none;

    padding: 20px;
    border: 2px solid #8176be ;
    
}
.section{
    text-align: center;
    background-color: #e1dcff;
    padding: 80px;
}

.section h2{
    font-weight: 500;
}
.section p{
    padding: 20px;
}

.lista_videos h2{
    padding-top: 30px;

    text-align: center;
    font-weight: 500;
}
.lista_videos > p{
    padding: 20px;
    
    text-align: center;
    font-weight: 400;

}
.lista_videos h3{
    font-weight: 500;
}
ol{
    display: flex;
    justify-content: center;

    padding: 10px;
    gap: 25px;
    
}